-#右側の箱
.chat_main
  -#ヘッダー
  .main_header
    .main_header__left_box
      %h2.main_header__left_box__list_name
        test
      %h2.main_header__left_box__members
        member : masa
    .group
      = link_to "Edit", "#", class:"main_header__edit_btn"

  -#メイン
  .main_forms
    .main_forms__message
      .main_forms__message__box
        %p.main_forms__message__box__name
          masa
        %p.main_forms__message__box__date
          2019/11/29(Wed)17:43:01
      .main_forms__message__text
        おはよう！

  -#フォーム
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message__text', placeholder: 'type a message'
      .message_box
        = f.label :image, class: 'message_box__image' do
          = icon('fas', 'image', class: 'icon') 
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit_btn'

