-#右側の箱
.chat_main
  -#ヘッダー
  .main_header
    .main_header__left_box
      %h2.main_header__left_box__list_name
        = @group.name
      %h2.main_header__left_box__members
        member : 
        = @group.show_last_message
    .group
      = link_to "Edit", edit_group_path(@group), class:"main_header__edit_btn"

  .messages
    = render @messages

  -#フォーム
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message__text', placeholder: 'type a message'
      .message_box
        = f.label :image, class: 'message_box__image' do
          = icon('fas', 'image', class: 'icon') 
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit_btn'


