-#左側の箱
.side_bar
  -#ヘッダー
  .side_header
    -#ボックス
    .side_header__box
      %p.side_header__box__name
        = current_user.name
      %ul.side_header__box__items
        %li.side_header__box__item--edit-user
          = link_to new_group_path do
            =icon('fas', 'edit my-white')
        %li.side_header__box__item--new-group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  -#メイン
  .groups
    - current_user.groups.each do |group|
      = link_to "#", class:"group_list" do
        %p.group_list__name
          = group.name
        %p.group_list__message
          まだメッセージがありません。


